a {
  text-decoration: none;
  color: inherit;
}

.brand {
  font-family: Tangerine !important;
  font-size: 2rem !important;
}

.yunik {
  color: #ffa500;
}

.stars {
  color: white;
}

.nav-links {
  font-family: lato !important;
  font-style: italic;
  text-transform: capitalize;
}

h1,
h2,
h3 {
  font-family: "slabo 27px" !important;
  font-weight: bolder;
}

p {
  font-weight: 300;
  font-family: "Saira", sans-serif;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: green;
  transform-origin: 0%;
}

/* body {
  background: black !important;
  color: white !important;
} */
